body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #F5DEB3;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #191970;
}

button {
    background-color: #191970;
    color: white;
}

canvas {
    border: 2px solid black;
    background: white;  
}

#new-puzzle {
    margin-top: 1.5em;
    font-size: 36px;
    border: none;
    padding: 15px;
}